doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Joakim Kokocha - Portfolio

        link(rel='icon', type='image/x-icon', href='assets/img/favicon2.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') About me
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#projects') Projects
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .mx-auto.text-center
                    h1.mx-auto.my-0.text-uppercase Joakim Kokocha
                    h2.text-white.mx-auto.mt-2.mb-5 Engineer and software developer.
                    a.btn.btn-primary.js-scroll-trigger(href='#about') Learn more!

        // About
        section#about.about-section.text-center
            .container
                .row
                    .col-lg-9.mx-auto
                        h2.text-white.mb-4 Who am I?
                        p.text-white-50
                            | In short, I'm a software developer with a passion for problem solving!
                            br 
                            | I strive to use my knowledge of software and IT to make problems simple.
                        h2.text-white.mb-4 Education
                        .row
                            .col-lg-6
                                h4.text-white-50.mb-2 NTI-Gymnasiet - Information Technology Programme
                                p.text-white-50 2017 - 2020
                                h4.text-white-50.mb-2 NTI-Gymnasiet - Software Development Engineer Programme
                                p.text-white-50 2020 - Now
                            .col-lg-6
                                h4.text-white-50.mb-2 Confirmation Youth Leader Education
                                p.text-white-50 2016 - 2017
                                h4.text-white-50.mb-2 Student Ambassador Rethorics
                                p.text-white-50 2017

                        h2.text-white.mb-4 Skills
                        p.text-white-50
                            | HTML5, CSS3, Python 3, Bootstrap 4, Less, Javascript, JQuery, Java, Jekyll, Docker, Pug, ExpressJS, Materialize, Raspberry Pi 3 & 4, Debian based Linux, Automated Testing, CI/CD, Code validation, Selenium and Git
                        //- h2.text-white.mb-4 Built with Bootstrap 4
                        //- p.text-white-50
                        //-     | Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on 
                        //-     a(href='https://startbootstrap.com/template-overviews/grayscale/') the preview page
                        //-     | . The theme is open source, and you can use it for any purpose, personal or commercial.
                //- img.img-fluid(src='assets/img/ipad.png', alt='')

        // Projects
        section#projects.projects-section.bg-light
            .container
                // Featured Project Row
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-8.col-lg-7
                        a(href="https://github.com/NTI-Gymnasieingenjor/RedCrossAction-Atlantic" target="_blank")
                            img.img-fluid.mb-3.mb-lg-0(src='assets/img/redcrossregister.png', alt='')
                            br
                            br
                            img.img-fluid.mb-3.mb-lg-0(src='assets/img/redcrosslogincrop.png', alt='')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Mass SMS Service - Swedish Red Cross
                            p.text-black-50.mb-0
                                | This project was a collaboration with the Swedish Red Cross, the goal being to create a simple and easy to use system for communication between the Swedish Red Cross and volunteers during a crisis.
                                br
                                br
                                | The final product utilizes 
                                a(href="https://46elks.se/" target="_blank") 46elks 
                                | SMS API, ExpressJS, Javascript and MySQL to let administrators of the Swedish Red Cross send bulk SMS to volonteers containing information about any current crisis and a personalized link where volonteers can send if they can help out during the crisis or not.
                                br
                                br
                                | The product contains secure volonteer registration and administrator login, and was tested automatically using Selenium for Python 3.
                                br
                                br
                                | The webpage uses Pug with the Materialize framework.
                                br
                                br
                                //- | 46elks SMS API, Materialize, Pug, ExpressJS, CSS3, HTML5, Automated Testing (Selenium, Python 3), Javascript, MySQL
                                a(href="https://github.com/NTI-Gymnasieingenjor/RedCrossAction-Atlantic" target="_blank")
                                    i.fab.fa-github
                                    | Check it out on GitHub!
                // Project One Row
                .row.align-items-center.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        a(href="https://fantastic4group.gitlab.io/pizza-website/" target="_blank")
                            img.img-fluid(src='assets/img/pizzawebsite.png', alt='')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Pizza Website
                                    p.mb-0.text-white-50
                                        | A static website made from scratch with focus on design and a system for automated testing.
                                        br
                                        br
                                        | The webpage uses Jekyll, HTML5 and CSS3 with Less, while the automated testing system was made with Selenium for Python 3 connected to CI/CD on GitLab.
                                        br
                                        br
                                        | Automated tests for every feature were made before each feature was added, including a test that checks if the website works well in all common resolutions using automated screenshots. There's also static validation connected to CI/CD
                                        //- | HTML5, CSS3, Automated Testing (Selenium, Python 3), CI/CD, Jekyll, Less, Bootstrap
                                    hr.d-none.d-lg-block.mb-0.ml-0
                                    br
                                    a(href="https://fantastic4group.gitlab.io/pizza-website/" target="_blank")
                                        i.fas.fa-desktop
                                        | Check out the live website!
                                    br
                                    a(href="https://gitlab.com/fantastic4group/pizza-website" target="_blank")
                                        i.fab.fa-gitlab
                                        | Check it out on GitLab!
                                    
                                    
                // Project Two Row
                .row.align-items-center.justify-content-center.no-gutters
                    .col-lg-6
                        a(href="assets/img/lunchpad.gif" target="_blank")
                            img.img-fluid(src='assets/img/lunchpad.png', alt='')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Lunchpad
                                    p.mb-0.text-white-50
                                        | Lunchpad was made due to a request by the principal of NTI-Gymnasiet Uppsala. They wanted a system to ensure that students of the school don't cheat their specified lunch times. 
                                        br
                                        br
                                        | Our solution was to use a Raspberry Pi 4 connected to a screen and an NFC scanner at the entrance of the dining area running a Python 3 program. The students are required to scan their keycards, and the screen shows a response depending on if it's currently their time to eat or not.
                                        //- | Python 3, Raspberry Pi 4, NFC
                                    hr.d-none.d-lg-block.mb-0.mr-0
                                    br
                                    a(href="https://github.com/NTI-Gymnasieingenjor/lunchpad" target="_blank")
                                        i.fab.fa-github 
                                        | Check it out on GitHub!
                                    

        // Signup
        //- section#signup.signup-section
        //-     .container
        //-         .row
        //-             .col-md-10.col-lg-8.mx-auto.text-center
        //-                 i.far.fa-paper-plane.fa-2x.mb-2.text-white
        //-                 h2.text-white.mb-5 Subscribe to receive updates!
        //-                 form.form-inline.d-flex
        //-                     input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email', placeholder='Enter email address...')
        //-                     button.btn.btn-primary.mx-auto(type='submit') Subscribe

        // Contact
        section#contact.contact-section.bg-black
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-github.text-primary.mb-2
                                h4.text-uppercase.m-0 GitHub
                                hr.my-4
                                .small.text-black-50
                                    a(href="https://github.com/Joakim2tusen") https://github.com/Joakim2tusen
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4
                                .small.text-black-50
                                    a(href="mailto:joakim2tusen@gmail.com") joakim2tusen@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fab.fa-linkedin.text-primary.mb-2
                                h4.text-uppercase.m-0 LinkedIn
                                hr.my-4
                                .small.text-black-50 Nothing here yet! 
                //- .social.d-flex.justify-content-center
                //-     a.mx-2(href='https://github.com/Joakim2tusen')
                //-         i.fab.fa-github

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container
                //- | Copyright © Joakim Kokocha 2020

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
